:root {
    --white:#ffffff; 
    --black:#000000;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--black);
    margin: 0px;
}

img {
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #000, #000 50%, rgba(255,0,0,0) 100%);
    z-index: 99999;
}


h1 {
    color: var(--white);
    font-family: 'Playfair Display', serif;
    font-size: 6em;
    text-transform: uppercase;
}

h2 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
}

h3 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
}

p {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

.logo {
    color: var(--white);
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0px;
}

li {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.4em;
}

a {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

.max-width {
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 0em;
    gap: 3em;
    z-index: 2;
    position: relative;
}

.max-width section {
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

nav {
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 0px;
}

.video {
    height: 70vh;
    width: 100%;
    background-image: url(../images/Road-top-view-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.motor {
    position: relative;
    padding-top: 10em;
    margin-top: -6em;
    background: linear-gradient(to top, #000, #000 91%, rgba(255,0,0,0) 100%);
}

.background-text {
    position: absolute;
    font-size: 14em;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 20%;
}

#myVideo {
    position: absolute;
    object-fit: cover;
    width: -webkit-fill-available;
    min-height: 70vh;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    background-color: #0000008f;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-overlay h1 {
    text-align: center;
}

.profile-picture {
    /* background-image: url(../images/porfile-picture.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
}

@media only screen and (max-width: 1500px) {
    .background-text {
        font-size: 11.5em;
    }
}

@media only screen and (max-width: 1210px) {
    .max-width {
        padding: 5em 2em;
    }

    nav {
        padding: 1em 2em 0em 2em;
    }

    .background-text {
        font-size: 15vw;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .motor:nth-child(even) .row {
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }

    #motor .row {
        flex-direction: column-reverse;
    }
    #profile .row {
        flex-direction: column;
    }

    .background-text {
        top: auto;
    }

    header li {
        font-size: .8em;
    }

    li {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    header ul {
        gap: 2em;
    }
}

